#instructionsContainer{
    display: none;
    place-items: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
}

#instructions{
    background-color: black;
    min-width: fit-content;
    width: 50%;
    padding: 4em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border-style: outset;
}

p {
    text-align: center;
}

#toggleInstructionsButton{
    background-color:black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 1%;
    left: 1%;
    border-radius: 10px;
    width: 10em;
}

.leftarrow{
    position: absolute;
    top: 10%;
    left: 10%;
}

.gesture_image{
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.rotate_minus90 {
    transform: rotate(-90deg)
}

th,td{
    padding: 10px;
}

#dismissButton {
    margin-top: 2em;
    border-radius: 1em;
    border: 1px outset white;
    width: 7em;
    height: 2em;
    display: grid;
    place-items: center;
}

#dismissButton:hover {
    cursor: pointer;
}

.table_caption{
    font-size:40px;
}

.table_head{
    font-size: 20pt;
    font-weight: normal;
}

.table_content{
    text-align:left;
    font-size: 12pt;
}
